<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <h5 style="color: white">MyPrescription</h5>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <AuthorizeView Roles="doctor">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/mypatients" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> My Patients
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/createprescription" Match="NavLinkMatch.All">
                    <span class="oi oi-document" aria-hidden="true"></span> Create Prescription
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView Roles="patient">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/myprescriptions" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> My Prescriptions
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView Roles="pharmacist">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/findprescription" Match="NavLinkMatch.All">
                    <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Find Prescription
                </NavLink>
            </div>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : "";

    private void ToggleNavMenu() => collapseNavMenu = !collapseNavMenu;
}
